/* CSS DESIGNED FOR MOBILE FIRST + DESKTOP MEDIA QUERY */ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


/* VARIABLES */

:root{
    /* Font Sizes*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Colors */
    --very-light-gray: hsl(0, 0%, 97%);
    --gray-blue: hsl(205, 26%, 52%);
    --dark-navy: hsl(206, 63%, 44%);
    --very-dark-navy: hsl(205, 100%, 33%);
    --bright-teal: hsl(184, 78%, 46%) ;
    --teal: hsl(184, 86%, 34%);
    --transparent-teal: hsla(184, 86%, 34%, 0.6);
}


/* GLOBALS */

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

*:focus{
    outline: none;
}

ul{
    list-style-type: none;
}

.container{
    width: 87%;
    max-width: 1160px;
    margin: 0 auto;
}

.link{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: var(--font-medium);
    letter-spacing: 0.15rem;
}


/* HEADER BAR */

.header{
    position: relative;
    height: 55px; 
    background-color: var(--dark-navy);
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem; 
    font-weight: var(--font-semi-bold);
    letter-spacing: 0.15rem;
}

.hamburger-btn{
    padding: 15px;
    margin-right: -15px;
}
.hamburger-btn:hover{
    cursor: pointer;
}

.hamburger-btn > div{
    background-color: #fff;
    width: 30px;
    height: 2px;
}
.hamburger-btn > div:not(:last-child){
    margin-bottom: 6px;
}

.nav-links-wrapper{
    display: none;
}


/* INTRO SECTION */

.intro{
    padding: 80px 0 50px 0;
    background-color: var(--dark-navy);
    text-align: center;
}

.intro-title{
    padding: 0 20px;
    font-size: 3rem;
    font-weight: var(--font-semi-bold);
    color: #fff;
}


/* DEPARTMENT SECTIONS */

.department-section{
    margin: 80px 0 100px 0;
    text-align: center;
}

.department-title{
    margin-bottom: 50px;
    padding: 0 20px;
    font-size: 2.3rem;
    font-weight: var(--font-semi-bold);
    color: var(--teal);
}

.staff-grid{
    margin: -25px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* STAFF CARDS */

.staff-card{
    box-sizing: border-box;
    width: 320px;
    margin: 25px; 
    padding: 40px;
    border-radius: 5px;
    background-color: var(--very-light-gray);
}

.staff-profile{
    width: 170px;
    height: 170px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    overflow: hidden;
}

.staff-profile img{
    display: block;
    width: 100%;
    height: auto;
}

.staff-name{
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--very-dark-navy);
}

.staff-position{
    margin-bottom: 25px;
    font-size: 1.1rem;
    font-weight: var(--font-medium);
    color: var(--gray-blue);
}

.staff-num-wrapper{
    width: 110px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: var(--font-semi-bold);
    color: var(--bright-teal);
    transition: transform 0.3s;
}
.staff-num-wrapper:hover{
    transform: scale(1.05);
}


/* Media Query: Desktop */

@media only screen and (min-width: 1000px){
    /* HEADER BAR */

    .hamburger-btn{
        display: none;
    }

    .nav-links-wrapper{
        width: 700px;
        display: flex;
        justify-content: space-between;
    }

    .link-box{
        border-radius: 3px;
        transition: background-color 0.3s;
    }
    .link-box:hover{
        background-color: var(--transparent-teal);
    }

    .link-box.active{
        background-color: var(--teal);
    }

    .link-box .link{
        display: block;
        padding: 13px 25px;
    }


    /* INTRO SECTION */

    .intro{
        padding: 130px 0 80px 0;  
    }

    .intro-title{
        font-size: 4.2rem; 
    }


    /* DEPARTMENT SECTIONS */

    .department-section{
        margin: 130px 0 160px 0; 
    }

    .department-title{
        margin-bottom: 70px; 
        font-size: 3rem; 
    }
}